<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:component-scan base-package="edu.fa.dao"></context:component-scan><!-- bài hibernate, "dao" tương đương repository trong Spring Data JPA -->
	<context:component-scan base-package="edu.fa.service" /> <!-- sẽ quét đến các class trong package service và có @Service -->
	
	<!-- Begin: phần lq Spring JPA 1 -->
	<!-- Repositories có package chứa các class Mapping 1-1 với @Entity(package model),
	 các class của Repositories thực hiện thao tác với CSDL như thêm, sửa , xóa,..
	 nếu không dùng thẻ <jpa:repositories...> thì có thể k/báo trong thẻ <context:component-scan...> 
	 và cần thêm @Repository ở trên tên class trong package "edu.fa.repository" được quét đến.
	 Khi dùng thẻ  <jpa:repositories..> không cần k/báo @Repository ở trên tên class mà sd những
	 interface mặc định của jpa repository, nó sẽ quét đến package chứa các class Repository -->
	 <jpa:repositories base-package="edu.fa.repository" /> <!-- các class trong "repository" tương đương các class trong "dao" Hibernate -->
	<!-- End: phần lq Spring JPA 1 -->
	
	<!-- Begin: Cấu hình DataSource -> hỗ trợ để tạo connection để nối DB: connection = dataSource.getConnection(); -->
	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<!-- ... DriverManagerDataSource Nằm trong spring-jdbc-4.3...-> org.springframework.jdbc.dataSource -->
	
	<!-- Ở dataSource và jdbcTemplate dùng "driverClassName" -> Thay thế cho Class.forName() ở jdbc thuần -->
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
		
	<!-- Ở dataSource và jdbcTemplate dùng "url" -> Thay thế cho DriverManager.getConnection(jdbcURL) ở jdbc thuần -->
		<property name="url" value="jdbc:derby://localhost:1527/education;create=true" />
	</bean>
	<!-- End: Cấu hình DataSource -> hỗ trợ để tạo connection để nối DB: connection = dataSource.getConnection(); -->
	
	<!-- Begin: Cấu hình SessionFactory để tạo Session, giống trong Hibernate là <session-factory>...</session-factory> -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- Trỏ đến "dataSource" để Hibernate load được phần cấu hình: URL và Driver để kết nối DB -->
		<property name="dataSource" ref="dataSource" />
		
		<!-- "packagesToScan" giúp quét đến các class trong package model để tạo Object Java @Entity
		 mapping với các table ở DB, khác "component-scan" là trỏ đến package chứa controller -->
		<property name="packagesToScan" value="edu.fa.model" />
		
		<!-- Begin: K/báo chi tiết hơn các properties của SessionFactory liên quan: Driver, Dialect, ... -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop><!--  Giúp HQL generate ra câu sql của loại DB khai báo(Derby) -->
				<prop key="hibernate.show_sql">true</prop> <!-- Hiển thị lệnh sql trên màn hình console -->
				
				<!-- lquan chỉnh sửa "schema"(table- hay namespace gom các table): Update->update schema(các table) sau khi đã tạo, 
				create-> xóa tất cả schema(tất cả table) và tạo mới,... -->
				<prop key="hibernate.hbm2ddl.auto">create</prop> 
			</props>
		</property>
		<!-- End: K/báo chi tiết hơn các properties của SessionFactory liên quan: Driver, Dialect, ... -->
	</bean>
	<!-- End: Cấu hình SessionFactory để tạo Session, giống trong Hibernate là <session-factory>...</session-factory> -->
	
	<!-- Begin: phần lq Spring JPA 2 -->
	<bean name="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" /><!--  Phần lq load URL, Driver để kết nối DB giống DataSource và JdbcTemplate -->
		<property name="packagesToScan" value="edu.fa.model" /><!--  Trỏ đến package chứa các class model ánh xạ DB(có @Entity) -->
		
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			</bean>
		</property>
	</bean>
	<bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" /><!-- Trỏ đến entityManagerFactory đã cấu hình ở trên -->
		
	</bean>
	
	<tx:annotation-driven/> <!-- Bật các Annotation lq transaction -->
	<!-- End: phần lq Spring JPA 2 -->
</beans>
